
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #424242;
  font-size: 14px;
  line-height: 1.4;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

select {
  font-size: 1rem;
}

a {
  color: rgb(33, 150, 243);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
}

#root > header {
  background: rgb(33, 150, 243);
}

#root > main,
#root > footer,
#root > header > nav {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

header nav > * {
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  color: white;
  /* border: 2px solid transparent; */
}

header nav a:hover {
  background: white;
  color: rgb(33, 150, 243);
  text-decoration: none;
}

/* for another day :) */
header nav a.active {
  border: 2px solid rgb(138, 199, 245);
}

blockquote {
  font: italic 300 system-ui;
}

p {
  font: 400 system-ui;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #212121;
}

.Rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.Rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.Rating:not(:checked) > label {
  float: right;
  width: 1.1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  /* text-shadow: 1px 1px #bbb; */
  /* , 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.Rating:not(:checked) > label:before {
  content: '★ ';
}

.Rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60;
  /* 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.Rating:not(:checked) > label:hover,
.Rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
  /* 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.Rating > input:checked + label:hover,
.Rating > input:checked + label:hover ~ label,
.Rating > input:checked ~ label:hover,
.Rating > input:checked ~ label:hover ~ label,
.Rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod;
  /* 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.Rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
